/* color #7037c7 */

/* ------------------------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #ffffff;
  color: #555;
  font-family: 'Open Sans', 'Arial',sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {
  zoom: 1
}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------------- */

.row {
  max-width: 1140px;
  width: 80%;
  margin: 0 auto 0 auto;
  text-align: center;
}

section {
  padding: 80px 0px ;
}

.box {
  padding: 1%;
}

/* ------ HEADINGS ------ */

h1,
h2,
h3 {
  color: #7037c7;
  font-weight: 300;
}

h1 {
  margin-top: 0px;
  color: #fff;
  font-size: 240%;
  letter-spacing: 1px;
  word-spacing: 4px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

p {
  font-size: 80%;
  color: #aaa;
}

/* ------ PARAGRAPHS ------ */

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/* ------ ICONS ------ */

.icon-big {
  font-size: 350%;
  display: block;
  color: #7037c7;
  margin-bottom: 10px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #7037c7;
  font-size: 120%;
  line-height: 120%;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 10px;
}


/* ------ LINKS ------ */

a:link,
a:visited {
  text-decoration: none;
  color: #3498db;
  padding-bottom: 1px;
  border-bottom: 1px solid #3498db;
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* ------ BUTTONS ------ */

.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  background-color: #7037c7;
  color: #fff;
  border: none;
  margin-right: 15px;
}

.btn:hover,
.btn:active {
  background-color: #6130ac;
}

/* ---------------
      Header
-----------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.98);
  box-shadow: 0 2px 2px #dddddd;
  height: 50px;
}

.header .logo {
  margin-top: 12px;
  margin-left: 30px;
}

#header {
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
}

#header #intro {
  display: inline-block;
  width: 65%;
  height: 100%;
}

#header #login {
  display: inline-block;
  float: right;
  width: 35%;
  height: 100%;
  background: white;
}

#login .row:first-child {
  margin-top: 25%;
}

/* ------------------
       Register
--------------------*/

.form-title {
  margin-top: 140px;
}

.register-progress-bar {
  position: relative;
  margin-top: 120px;
  padding: 0;
  margin-bottom: 1em;
  display: flex;
}

.register-progress-bar li {
  flex: 1;
  list-style: none;
  text-align: center;
  width: auto;
  padding: 0;
  margin: 0;
  position: relative;
  text-overflow: ellipsis;
  color: #aaa;
  display: block;
}

.register-progress-bar li .bubble {
  border-radius: 1000px;
  width: 12px;
  height: 12px;
  background-color: #aaa;
  display: block;
  margin: 0 auto 0.5em auto;
}

.register-progress-bar li .bubble:before {
  display: block;
  position: absolute;
  top: 5px;
  width: 100%;
  height: 2px;
  content: '';
  background-color: #aaa;
  margin-left: -50%;
}

.register-progress-bar li .bubble:before {
  left: 0;
}


.register-progress-bar li:first-child .bubble:before {
  width: 50%;
  margin-left: 50%;
}

.register-progress-bar li:last-child .bubble:after {
  width: 50%;
  margin-right: 50%;
}

.register-progress-bar li.completed {
  color: #7037c7;
}

.register-progress-bar li.completed .bubble {
  background-color: #7037c7;
  color: #7037c7;
}

.register-progress-bar li.completed .bubble:before {
  background-color: #7037c7;
}

.register-form {
  margin-top: 80px;
}

.register-form .field {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 50%;
  text-align: center;
}

.register-form .field .input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #555;
  box-sizing: border-box;
  font-size: 18px;
  height: 50px;
  width: 80%;
}

.register-form .field .input:focus {
  outline: none;
}

.register-form .field input::-webkit-input-placeholder {
  color: #555;
}

.register-form .field input:focus::-webkit-input-placeholder {
  color: #7037c7;
}

.register-form .field .input:focus + .underline {
  transform: scale(1);
}

.register-form .field .underline {
  background-color: #7037c7;
  display: block;
  height: 2px;
  position: absolute;
  -webkit-transform: scale(0,1);
  transform: scale(0, 1);
  transition: all 0.3s ease;
  width: 33%;
  margin-top: -2px;
  margin-left: 3.5%;
}

.register-form .field .fieldname {
  margin-top: 4px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  margin-left: 10%;
}

.register-form .submit-button {
  margin-top: 80px;
}

/* ------------------
       Admin Panel
--------------------*/

.admin-panel {
  margin-top: 100px;
}

.admin-panel .title {
  margin-top: 30px; 
  text-align: left;
}
