/* color #7037c7 */

/* ------------------------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #ffffff;
  color: #555;
  font-family: 'Open Sans', 'Arial',sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {
  zoom: 1
}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------------- */

.row {
  max-width: 1140px;
  width: 80%;
  margin: 0 auto 0 auto;
  text-align: center;
}

section {
  padding: 80px 0px ;
}

.box {
  padding: 1%;
}

/* ------ HEADINGS ------ */

h1,
h2,
h3 {
  color: #7037c7;
  font-weight: 300;
}

h1 {
  margin-top: 0px;
  color: #fff;
  font-size: 240%;
  letter-spacing: 1px;
  word-spacing: 4px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

p {
  font-size: 80%;
  color: #aaa;
}

/* ------ PARAGRAPHS ------ */

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/* ------ BUTTONS ------ */

.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  background-color: #7037c7;
  color: #fff;
  border: none;
  margin-right: 15px;
}

.btn:hover,
.btn:active {
  background-color: #6130ac;
}

/* ---------------
      Header
-----------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.98);
  box-shadow: 0 2px 2px #dddddd;
  height: 50px;
  z-index: 9999;
}

.header .logo {
  margin-top: 12px;
  margin-left: 30px;
}

#home {
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
  filter: blur(4px);
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  transition: all 0.5s ease-in-out;
}

.container {
  position: absolute;
  width: 900px;
  height: 450px;
  background-color: #2c3e50;
  top: 50%;
  left: 50%;
  margin: -225px 0 0 -450px;
  transition: all 0.5s ease-in-out;
  z-index: 10;
}
.container .box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container .container-forms {
  position: relative;
}
.container .btn {
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  width: 100px;
  color: #fff;
  background-color: #ff73b3;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.container .btn:hover {
  opacity: 0.7;
}
.container .btn, .container input {
  padding: 10px 15px;
}
.container input {
  margin: 0 auto 15px;
  display: block;
  width: 220px;
  transition: all 0.5s ease-in-out;
}
.container .container-forms .container-info {
  text-align: left;
  font-size: 0;
}
.container .container-forms .container-info .info-item {
  text-align: center;
  font-size: 16px;
  width: 450px;
  height: 480px;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.container .container-forms .container-info .info-item p {
  font-size: 20px;
  margin: 20px;
}
.container .container-forms .container-info .info-item .btn {
  background-color: transparent;
  border: 1px solid #fff;
}
.container .container-forms .container-info .info-item .table-cell {
  padding-right: 35px;
}
.container .container-forms .container-info .info-item:nth-child(2) .table-cell {
  padding-left: 35px;
  padding-right: 0;
}
.container .container-form {
  overflow: hidden;
  position: absolute;
  left: 60px;
  top: -40px;
  width: 450px;
  height: 530px;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
}

.container .container-form .btn {
  position: relative;
  box-shadow: 0 0 10px 1px #ff73b3;
  margin-top: 30px;
}
.container .form-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.container .form-item.sign-up {
  position: absolute;
  left: -100%;
  opacity: 0;
}
.container.log-in .container-form {
  left: 390px;
}
.container.log-in .container-form .form-item.sign-up {
  left: 0;
  opacity: 1;
}
.container.log-in .container-form .form-item.log-in {
  left: -100%;
  opacity: 0;
}


/* ------------------
       Register
--------------------*/

.form-title {
  margin-top: 140px;
}

.register-progress-bar {
  position: relative;
  margin-top: 120px;
  padding: 0;
  margin-bottom: 1em;
  display: flex;
}

.register-progress-bar li {
  flex: 1;
  list-style: none;
  text-align: center;
  width: auto;
  padding: 0;
  margin: 0;
  position: relative;
  text-overflow: ellipsis;
  color: #aaa;
  display: block;
}

.register-progress-bar li .bubble {
  border-radius: 1000px;
  width: 12px;
  height: 12px;
  background-color: #aaa;
  display: block;
  margin: 0 auto 0.5em auto;
}

.register-progress-bar li .bubble:before {
  display: block;
  position: absolute;
  top: 5px;
  width: 100%;
  height: 2px;
  content: '';
  background-color: #aaa;
  margin-left: -50%;
}

.register-progress-bar li .bubble:before {
  left: 0;
}


.register-progress-bar li:first-child .bubble:before {
  width: 50%;
  margin-left: 50%;
}

.register-progress-bar li:last-child .bubble:after {
  width: 50%;
  margin-right: 50%;
}

.register-progress-bar li.completed {
  color: #7037c7;
}

.register-progress-bar li.completed .bubble {
  background-color: #7037c7;
  color: #7037c7;
}

.register-progress-bar li.completed .bubble:before {
  background-color: #7037c7;
}

.register-form {
  margin-top: 80px;
}

.register-form .field {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 50%;
  text-align: center;
}

.register-form .field .input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #555;
  box-sizing: border-box;
  font-size: 18px;
  height: 50px;
  width: 80%;
}

.register-form .field .input:focus {
  outline: none;
}

.register-form .field input::-webkit-input-placeholder {
  color: #555;
}

.register-form .field input:focus::-webkit-input-placeholder {
  color: #7037c7;
}

.register-form .field .input:focus + .underline {
  transform: scale(1);
}

.register-form .field .underline {
  background-color: #7037c7;
  display: block;
  height: 2px;
  position: absolute;
  -webkit-transform: scale(0,1);
  transform: scale(0, 1);
  transition: all 0.3s ease;
  width: 33%;
  margin-top: -2px;
  margin-left: 3.5%;
}

.register-form .field .fieldname {
  margin-top: 4px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  margin-left: 10%;
}

.register-form .submit-button {
  margin-top: 80px;
}

/* ------------------
       Admin Panel
--------------------*/

.admin-panel {
  margin-top: 100px;
}

.admin-panel h4 {
  text-align: center;
  font-size: 30px;
}

.admin-panel .title {
  margin-top: 50px;
  text-align: left;
  margin-bottom: 30px;
}

.admin-panel .ngo-list {
  text-align: left;
}

/* ------------------------
----------- CARD ----------
--------------------------*/
.ngo-card {
  text-align: left;
  position: relative;
  display: inline-block;
  width: 360px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  -webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}
.ngo-card a {
  color: inherit;
  text-decoration: none;
}

.ngo-card:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.card-thumb {
  height: 200px;
  overflow: hidden;
  background-color: #000;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}
.card-thumb img {
  display: block;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}
.ngo-card:hover .card-thumb {
  height: 70px;
}

.ngo-card:hover .card-thumb img {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.card-body {
  position: relative;
  height: 155px;
  padding: 20px;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}
.ngo-card:hover .card-body {
  height: 285px;
}

.card-category {
  position: absolute;
  top: -25px;
  left: 0;
  height: 25px;
  padding: 0 15px;
  background-color: coral;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 25px;
}

.card-title {
  margin: 0;
  padding: 0 0 10px 0;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.card-description {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 56px;
  margin: 0;
  padding: 0;
  color: #666C74;
  line-height: 27px;
  opacity: 0;
  -webkit-transform: translateY(45px);
          transform: translateY(45px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.ngo-card:hover .card-description {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.card-footer {
  border-top: 1px solid #eee;
  width: 100%;
  position: absolute;
  bottom: 15px;
  font-size: 14px;
  text-transform: uppercase;
}

.card-button {
  border: none;
  background-color: transparent;
  padding: 15px 0px 0px 10px;
  color: coral;
  font-weight: bold;
}

.card-button:first-child {
  padding-left: 20px;
}
